# --- Fichiers et répertoires lourds ---
# Exclure les données brutes et traitées, non nécessaires à l'exécution.
data/

# Exclure les modèles de ML locaux. En production, ils sont chargés depuis GCS.
models/

# --- Environnements et dépendances ---
# Exclure les environnements virtuels Python.
.venv/
venv/
env/

# --- Fichiers de cache et de compilation Python ---
__pycache__/
*.pyc
*.pyo
*.egg-info

# --- Fichiers de configuration d'IDE et système ---
.vscode/
.idea/
.DS_Store

# --- Logs et rapports ---
*.log
logs/

# --- Git ---
.git/
.gitignore